<div class="main">
    <div class="header" style="background-color: antiquewhite;">
        <h3 class="logo" style="text-align: center; align-items: center; font-weight: bold;">Beauty App</h3>
    </div>

    <div class="slider">
        <!-- <div class="slider-content" *ngFor="let item of category">
            <img src="../../assets/iamges/pexels-andrea-piacquadio-3757942.jpg" >
            <span>{{item.name}}</span>
        </div> -->
        <div class="con1 slider-content">
            <img height="50px" width="50px" class="image-cat" src="../../assets/iamges/nails.jpg" >
            <span>Nails</span>
        </div>
        <div class="con2 slider-content">
            <img class="image-cat" src="../../assets/iamges/hair.jpg" >
            <span>Hair</span>
        </div>
        <div class="con3 slider-content">
            <img class="image-cat" src="../../assets/iamges/spa.jpg" >
            <span>Spa</span>
        </div>
        <div class="con4 slider-content">
            <img class="image-cat" src="../../assets/iamges/extension.jpg" >
            <span>Extension</span>
        </div>
        <div class="con5 slider-content">
            <img class="image-cat" src="../../assets/iamges/bridal.jpg" >
            <span>Bridal</span>
        </div>
    </div>

    <div class="section1"></div>
    <div class="section2" style="background-color: antiquewhite; padding: 5px;">
        <span style="font-weight: bold; margin-bottom: 10px;">Nearest Artist</span>
        <div class="player">
            <img width="350" height="200" src="../../assets/banner/banner.avif">
        </div>
        <p style="text-decoration: underline; color: red;">New Fashio Zone</p>
        <p>Visit out site: <a href="https://www.newfasionzone.com">https://www.newfasionzone.com</a></p>
        <p>Variou kind of bridal service available</p>
    </div>
    <div class="section3" style="background-color: antiquewhite; padding: 5px;">
        <span style="font-weight: bold; margin-bottom: 10px;">Recommended makeup tutotials</span>
        <div class="player">
            <div class="item">
                <iframe width="350" height="200" src="https://www.youtube.com/embed/XFBm44zHn9w?si=J-FYcrs4sIf7urQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>